<div class="bg-theme p-5">
    <div class="container">
        <h1 class="text-white">General Knowledge</h1>

        <p class="text-white ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis rerum repudiandae nisi molestias aut laboriosam dolorum voluptatem dolore illum cupiditate incidunt repellendus atque a suscipit, consequatur repellat alias ab odio?</p>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>
       
    </div>
</div>