<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">ABOUT US</h1>
        <div class="p-5 mt-4 bg-secondary-theme">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio corporis voluptatibus fugit, facilis laudantium, vero repellat sapiente reiciendis incidunt ipsa, facere commodi. Voluptatibus at porro nesciunt sequi provident nisi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deleniti. Quisquam optio non quae cum et, perspiciatis nam ratione illum explicabo! Temporibus eveniet nulla, omnis obcaecati expedita laudantium iure at?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur suscipit quibusdam veniam tempore, aliquid eligendi asperiores eos repellendus nostrum eaque expedita quae voluptas magnam laborum, odit sed consequatur impedit nulla.

            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio corporis voluptatibus fugit, facilis laudantium, vero repellat sapiente reiciendis incidunt ipsa, facere commodi. Voluptatibus at porro nesciunt sequi provident nisi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deleniti. Quisquam optio non quae cum et, perspiciatis nam ratione illum explicabo! Temporibus eveniet nulla, omnis obcaecati expedita laudantium iure at?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur suscipit quibusdam veniam tempore, aliquid eligendi asperiores eos repellendus nostrum eaque expedita quae voluptas magnam laborum, odit sed consequatur impedit nulla.

            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio corporis voluptatibus fugit, facilis laudantium, vero repellat sapiente reiciendis incidunt ipsa, facere commodi. Voluptatibus at porro nesciunt sequi provident nisi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deleniti. Quisquam optio non quae cum et, perspiciatis nam ratione illum explicabo! Temporibus eveniet nulla, omnis obcaecati expedita laudantium iure at?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur suscipit quibusdam veniam tempore, aliquid eligendi asperiores eos repellendus nostrum eaque expedita quae voluptas magnam laborum, odit sed consequatur impedit nulla.

            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio corporis voluptatibus fugit, facilis laudantium, vero repellat sapiente reiciendis incidunt ipsa, facere commodi. Voluptatibus at porro nesciunt sequi provident nisi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, deleniti. Quisquam optio non quae cum et, perspiciatis nam ratione illum explicabo! Temporibus eveniet nulla, omnis obcaecati expedita laudantium iure at?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur suscipit quibusdam veniam tempore, aliquid eligendi asperiores eos repellendus nostrum eaque expedita quae voluptas magnam laborum, odit sed consequatur impedit nulla.

            </p>
            <div class="text-center">
                <button class="btn-info mt-4 btn-sm btn-sub">Back to Home</button>
            </div>
        </div>
    </div>
</section>