<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect mt-5">
                <img src="https://images.pexels.com/photos/159825/color-pencil-drawing-coloring-colored-pencils-159825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top img-fluid">
                <div class="card-body ">
                  <small class="bg-light text-danger text-ceter">Design</small>
                  <small class="bg-light text-success text-ceter ml-2">Featured</small>
                  <small class="bg-light text-info text-ceter ml-2">Views - 100,256</small>
                  <small class="bg-light text-warning text-ceter ml-2">LAST UPDATED -SEP 2023</small>
                
                  <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2024</h1>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, non sit provident laborum exercitationem quos mollitia maiores aliquid dolorum quibusdam dolor nesciunt placeat omnis quia? Possimus, dolor eligendi? Corporis, fuga!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore eos placeat, non aspernatur, libero repudiandae deserunt illo laudantium, quam incidunt eveniet nisi ut ipsum modi ratione odio adipisci aperiam quaerat?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint eius nihil inventore animi quasi accusantium hic ratione non rem dolore, culpa consequuntur repellat, quis ducimus magni id maxime officia incidunt.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates hic tempore tenetur provident? Totam illum voluptate excepturi dignissimos dolorum beatae perferendis ratione, officia necessitatibus illo vitae, hic modi consectetur porro.
                  </p>
                </div>
            </div>
            <div class="mt-5">
               <app-comment-form></app-comment-form>
            </div>
            <div class="mt-5">
               <app-comment-list></app-comment-list>
            </div>
        </div>
        <div class="col-md-3 mt-5 mb-2">
            <div class="mb-2">
                <app-post-card></app-post-card>
            </div>
            <div class="mb-4">
                <app-post-card></app-post-card>
            </div>
            <div class="mb-4">
                <app-post-card></app-post-card>
            </div>
            
            
        </div>
    </div>
</div>